<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Owner</h2>
                <form action="/admin/add_owner" method="POST" enctype="multipart/form-data">
                    <label for="">Owner Name</label>
                    <input type="text" name='Name' class="form-control">
                    <label for="">Theater Name</label>
                    <input type="text" name='Theater_name' class="form-control">
                    <label for="">Phone Number</label>
                    <input type="number" name='Phone' class="form-control">
                    <E-mail>E-mail</E-mail>
                    <input type="email" name='email' class="form-control">
                    <label for="">Image</label>
                    <input type="file" name="image" class="form-control"> 

                    <button type="submit" class="btn btn-success mt-4">submit</button>


                </form>
            </div>
        </div>
    </div>
</section>