<table class="table">
  <thead>
    <tr>
      <th scope="col">Theater Name</th>
      <th scope="col">Owner Name</th>
      <th scope="col">No of Seats</th>
      <th scope="col">Date of Create</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{owner.Theater_name}}</th>
      <td>{{owner.Name}}</td>
      <td>100</td>
      <td>2/04/2020</td>
    </tr>
  </tbody>
</table>